@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Mono:ital,wght@1,300&display=swap');
body{
    padding: 0px;
    margin:0;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(223, 223, 223);
}
header{
    background-color: rgb(32, 32, 32);
    color:white;
}
#logo{
    padding-left: 15px;
    width: 170px;
    height: 145px;
}
#log{ /*imagen del logo en la barra nav*/
    display: inline-flex;
}
#nombre_cole{ /*et26 conf suiza*/
    position: absolute;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
}
header h3{
    size: 60px;
    font-size: 23px;
    color:white
}
header a{
    margin-right: 20px;
    font-size: 23px;
    color: white;
    text-decoration: none
}
header a:hover:not(.activ) {
    color: rgb(0, 164, 252);
  }
  .activ {
    color: rgb(55, 195, 255);
  }
#arriba{
    padding-top: 60px;
    padding-right: 23px;
    float: right;
}
img{
    /*padding-top: 5%;*/
    width: 650px;
    height: 370px;
}
section{
    margin-left: 20px;
}
section p{
    padding-top: 20px;
    margin-left: 50px;
    margin-top: 0;
    font-size: 20px;
    color: black;
}
ul{
    margin-left: 50px;
}
section h3{
    margin-left: 50px;
    font-size: 25px;
    margin-bottom: 0;
}
li{
    line-height: 1.7;
}
a{
    text-decoration: none;
    color:black;
}