@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Mono:ital,wght@1,300&display=swap');

 /*esto es el header*/

.contenedor {
    padding: 60px 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    height: 24%;
    width: 24%;
    margin: 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

#im1{
    width: 500px;
}
#im2{
    width: 300px;
}
#im3{
    float: right;
    width: 500px;
}
#im4{
    float: right;
    width: 15%;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline;
    /*display: block;*/
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline;
    /*display: block;*/
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}