@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Mono:ital,wght@1,300&display=swap');
body, html{
    padding: 0px;
    border: 0px;
    margin:0;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgb(32, 32, 32);
    color:white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.escuela-logo{
    display: flex;
    align-items: center;
}
.escuela-logo img{
    padding: 0;
}
.escuela-logo h3{
    margin: 0;
}
.main-centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    height: 640px;
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    background-color:#6aafd6;
}
#article{
    height: 640px;
    background-color: #6aafd6;
    width: 35%;
    float: right;
    padding-left: 5%;
}
aside{
    height: 640px;
    width: 100%;
    float: left;
    background-color:rgba(126, 209, 255, 1);
}

#logo{
    width: auto;
    height: 125px;
}
h3{
    size: 60px;
    font-size: 23px;
    color:white
}
a{
    margin-right: 20px;
    font-size: 23px;
    color: white;
    text-decoration: none
}
a:hover:not(.activ) {
    color: rgb(0, 164, 252);
  }
  .activ {
    color: rgb(55, 195, 255);
  }
/* #arriba{
    padding-top: 60px;
    padding-right: 23px;
    float: right;
} */
#abajo{
    /* padding-left: 15px;
    padding-top: 50px; */
    position: absolute;
    bottom: 15px;
    left: 15px;
}
#abajo1{
    padding-left: 15px;
    padding-top: 50px;
}
#helado{
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-size: 80px;
    padding-top: 30px;
    color: white;
}
h1{
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-size: 80px;
    padding-top: 30px;
    color: white;
}
p{
    font-size:30px;
}
ul{
    font-size:25px;
    line-height: 1.8;
}
img{
    padding-top: 5%;
    width: 650px;
    height: 370px;
}
h2{
    font-size: 60px;
    text-align: center;
}
.clases{
    width: 25%;
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    height: 65%;
}
.img{
    display: block;
    margin: auto;
    padding-top: 10%;
    width: 80%;
    /* width: 250px; */
    height: 290px;
}
#torta1{
    margin-left: 5%;
}
#torta2{
    margin-left: 37%;

}
#torta3{
    margin-left: 70%;
}
.curso{
    margin-top: 20px;
    color: black;
    margin-right: 20px;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
}


.mySlides1, .mySlides2 {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 650px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    margin-right: 0%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

#footer{
   height: 290px;
}
#logof{
    width: 175px;
    height: 150px;
}
#fnombre_cole{ /*et26 conf suiza*/
    position: absolute;
    display: inline;
    padding-top:25px;
}
#fdatos{
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 100px;
    width: 100px;
    height: 190px;
    float: right;
    line-height: 1.5;
}
#fdo{
    padding-top: 40px;
    padding-right: 20px;
    float: right;
    width: 200px;
    line-height: 1.5;
}
#dos{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    text-decoration: underline;
}
#con{
    font-size: 23px;
    padding-left: 30px;
    margin-bottom: 15px;
}
.sub{
    text-decoration: underline;
}
/*Ciclos.html*/
#desaparecer{
    color:  #508aab00;;
}
#articulo{
    height: 640px;
    width: 100%;
    float: left;
    background-color:rgba(126, 209, 255, 1);
}
#añou{
    margin-left: 20%;
    background-color:  #eee;
    color: black;
    width: 25%;
    display: inline;
    position: absolute;
    text-align: center;
    /*height: 65%;*/
    border-radius: 5px;
}
#añod{
    margin-left: 55%;
    background-color:#eee;
    color: black;
    width: 25%;
    display: inline;
    position: absolute;
    text-align: center;
    border-radius: 5px;
}
#asi,
#asi1{
    height: 1060px;
    background-color:  rgb(255, 255, 255);
    color: black;
}
.tijera{
    background-color: rgba(126, 209, 255, 1);
    border-radius: 5px;
    color: black;
}
#añot{
    margin-left: 20%;
    width: 25%;
    display: inline;
    position: absolute;
    text-align: center;
}
#añoc{
    margin-left: 55%;
    width: 25%;
    display: inline;
    position: absolute;
    text-align: center;
}
#añoci{
    margin-left: 20%;
    width: 25%;
    display: inline;
    position: absolute;
    text-align: center;
}
#años{
    margin-left: 55%;
    width: 25%;
    display: inline;
    position: absolute;
    text-align: center;
}
#cys{
    padding-top: 35%;
}
#insta{
    height: 30px;
    width: 30px;
    padding-top: 0%;
}
#gmail{
    height: 30px;
    width: 40px;
    padding-left: 30px;
    padding-top: 0%;
}
#face{
    height: 30px;
    width: 30px;
    padding-top: 0%;
}
#you{
    height: 30px;
    width: 40px;
    padding-top: 0%;
}
#contacto{
    height: 90px;
}